# OSX
#
.DS_Store
# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
# node.js
#
node_modules/
npm-debug.log
yarn-error.log
*temp.sh
# BUCK
buck-out/
\.buckd/
*.db
*.*.db
# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
#ios/assets
#android/app/src/main/assets
ios/JD-tvOS
ios/JD-tvOSTests
ios/JDTests
ios/Pods
ios/bundle
android/bundle
src/Page/web/gamelobby
/android/app/taven/release/release.apk
/android/app/taven/release/output.json
/android/app/src/main/assets/gamelobby.zip
/qp_native/
/android/proxy_tools/aarTemp/
/android/proxy_tools/apk/
/android/proxy_tools/apk/temp/
/android/proxy_tools/apk/app-unsigned.apk
/android/proxy_tools/apk/app-unsigned-aligned.apk
/android/proxy_tools/apk/encry_uat.apk
/android/proxy_tools/apk/uat.apk
/android/proxy_tools/temp/
/android/proxy_tools/temp/res/values/
/android/proxy_tools/temp/AndroidManifest.xml
/android/proxy_tools/temp/classes.dex
/android/proxy_tools/temp/classes.jar
/android/proxy_tools/temp/R.txt
